body{
    margin: 0;
}
.toka{
    position: relative;
    right: 610px;
    padding-top: 14px;
}
.rost{
    padding-top: 11px;
}
.bolo{
    height: 21px;
    background-color: white;
    display: flex;
    justify-content: flex-end;
}
.surat{
    text-align: center;
    width: 100%;
    height:500px;
    background-image: url("lights.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
footer{
    width: 100%;
    height: 25px;
    background-color: black;
}
.span1{

  
    border-color: white;
    background-color: rgb(104, 164, 99);
    margin-top: 8px;
    color: white;
    padding: 4px;
    padding-left: 18px;
    padding-right: 18px;
    margin-right: 16px;
}
.span{
margin-top: 8px;
padding: 4px;
padding-left: 18px;
padding-right: 18px;
margin-right: 16px;
}

h1{
    padding-top: 150px;
    color: white;

}
p{
    color: white;
    padding-top: 0;
    padding-bottom: 7px;
}
.poyon{
    border:1px solid white;
    color: white;
    background-color: rgb(104, 164, 99);
    padding: 5px;
    padding-left: 55px;
    padding-right: 55px;
    margin-right: 3px;
   
}
.poyon1{
    border:1px solid white;
    color: white; 
    padding: 5px;
    padding-left: 35px;
    padding-right: 35px;
    margin-left: 3px;
}